pipeline/HTTP_to_ABS_JSON_Type.json
{
	"name": "HTTP_to_ABS_JSON_Type",
	"properties": {
		"description": "Copy all User JSON data to ABS",
		"activities": [
			{
				"name": "until max pages",
				"description": "loop until pages limit or max page limit reached - whichever is lowest",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "set_pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\n  greater(\n    int(variables('page')),\n    int(variables('pages'))),\n  greater(\n    int(variables('page')),\n    int(pipeline().parameters.max_pages))\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Users_HTTP_to_ABS_JSON_by_page",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "HTTP_to_ABS_JSON_by_page",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"page": {
										"value": "@variables('page')",
										"type": "Expression"
									},
									"limit": {
										"value": "@pipeline().parameters.page_size",
										"type": "Expression"
									},
									"data_type": {
										"value": "@pipeline().parameters.data_type",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "set temp page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Users_HTTP_to_ABS_JSON_by_page",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_page",
								"value": {
									"value": "@string(add(int(variables('page')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "update page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set temp page",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "page",
								"value": {
									"value": "@variables('temp_page')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "merge data files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "until max pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "DS_JSON_jsonplaceholder",
						"type": "DatasetReference",
						"parameters": {
							"data_type": {
								"value": "@pipeline().parameters.data_type",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_JSON_jsonplaceholder",
						"type": "DatasetReference",
						"parameters": {
							"data_type": {
								"value": "@{pipeline().parameters.data_type}/merged/",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "delete paged user data",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "merge data files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_JSON_jsonplaceholder",
						"type": "DatasetReference",
						"parameters": {
							"data_type": {
								"value": "@pipeline().parameters.data_type",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false,
						"wildcardFileName": "*.json",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "delete all type data",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_JSON_jsonplaceholder",
						"type": "DatasetReference",
						"parameters": {
							"data_type": {
								"value": "@pipeline().parameters.data_type",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": "*.json",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "get_rec_count",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "delete all type data",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://jsonplaceholder.cypress.io/@{pipeline().parameters.data_type}?_start=1&_end=2\n\n",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "set_rec_count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_rec_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "rec_count",
					"value": {
						"value": "@activity('get_rec_count').output.ADFWebActivityResponseHeaders['X-Total-Count']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_pages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set_rec_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "pages",
					"value": {
						"value": "@string(\n\tadd(\n\t\tdiv(\n\t\t\tint(variables('rec_count')),\n\t\t\tpipeline().parameters.page_size\n\t\t),\n\t\tif(\n\t\t\tequals(\n\t\t\t\tmod(\n\t\t\t\t\tint(variables('rec_count')),\n\t\t\t\t\tpipeline().parameters.page_size\n\t\t\t\t),\n\t\t\t0),\n\t\t0,\n\t\t1\n\t\t)\n\t)\n)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"page_size": {
				"type": "int",
				"defaultValue": 0
			},
			"max_pages": {
				"type": "int",
				"defaultValue": 0
			},
			"data_type": {
				"type": "string"
			}
		},
		"variables": {
			"page": {
				"type": "String",
				"defaultValue": "1"
			},
			"pages": {
				"type": "String",
				"defaultValue": "1"
			},
			"temp_page": {
				"type": "String"
			},
			"rec_count": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}