pipeline/Users_HTTP_to_ABS_JSON.json
{
	"name": "Users_HTTP_to_ABS_JSON",
	"properties": {
		"description": "Copy all User JSON data to ABS",
		"activities": [
			{
				"name": "set page size",
				"description": "set no of users per page",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "page_size",
					"value": {
						"value": "@string(pipeline().parameters.page_size)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set max pages",
				"description": "set max number of result pages",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "set page size",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_pages",
					"value": {
						"value": "@string(pipeline().parameters.max_pages)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "until max pages",
				"description": "loop until max page limit reached",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "set max pages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('page')),int(variables('max_pages')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Users_HTTP_to_ABS_JSON_by_page",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Users_HTTP_to_ABS_JSON_by_page",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"_page": {
										"value": "@int(variables('page'))",
										"type": "Expression"
									},
									"_limit": {
										"value": "@int(variables('page_size'))",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "set temp page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Users_HTTP_to_ABS_JSON_by_page",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_page",
								"value": {
									"value": "@string(add(int(variables('page')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "update page",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "set temp page",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "page",
								"value": {
									"value": "@variables('temp_page')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"page_size": {
				"type": "int",
				"defaultValue": 2
			},
			"max_pages": {
				"type": "int",
				"defaultValue": 2
			}
		},
		"variables": {
			"page": {
				"type": "String",
				"defaultValue": "1"
			},
			"page_size": {
				"type": "String",
				"defaultValue": "1"
			},
			"max_pages": {
				"type": "String",
				"defaultValue": "1"
			},
			"temp_page": {
				"type": "String"
			}
		},
		"annotations": []
	}
}