ADF-LA-Training/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-LA-Training"
		},
		"LS_ABS_jsonplaceholder_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ABS_jsonplaceholder'"
		},
		"LS_REST_jsonplaceholder_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://jsonplaceholder.cypress.io/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_ABS_jsonplaceholder')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to store test data",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_ABS_jsonplaceholder_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_REST_jsonplaceholder')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "fake REST API for testing",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_REST_jsonplaceholder_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_JSON_jsonplaceholder_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABS_jsonplaceholder",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "users.json",
						"container": "json"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABS_jsonplaceholder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_jsonplaceholder_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ABS_jsonplaceholder",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ABS_jsonplaceholder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_jsonplaceholder_Users')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Test dataset for user data",
				"linkedServiceName": {
					"referenceName": "LS_REST_jsonplaceholder",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"_page": {
						"type": "string",
						"defaultValue": "1"
					},
					"_limit": {
						"type": "string",
						"defaultValue": "2"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "users?_page=@{dataset()._page}&_limit=@{dataset()._limit}",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_jsonplaceholder')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Users_HTTP_to_ABS_JSON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy all User JSON data to ABS",
				"activities": [
					{
						"name": "set page size",
						"description": "set no of users per page",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "page_size",
							"value": {
								"value": "@string(pipeline().parameters.page_size)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set max pages",
						"description": "set max number of result pages",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "set page size",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "max_pages",
							"value": {
								"value": "@string(pipeline().parameters.max_pages)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "until max pages",
						"description": "loop until max page limit reached",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "set max pages",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(int(variables('page')),int(variables('max_pages')))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Users_HTTP_to_ABS_JSON_by_page",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Users_HTTP_to_ABS_JSON_by_page",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"_page": {
												"value": "@int(variables('page'))",
												"type": "Expression"
											},
											"_limit": {
												"value": "@int(variables('page_size'))",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "set temp page",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Users_HTTP_to_ABS_JSON_by_page",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "temp_page",
										"value": {
											"value": "@string(add(int(variables('page')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "update page",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "set temp page",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "page",
										"value": {
											"value": "@variables('temp_page')",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"parameters": {
					"page_size": {
						"type": "int",
						"defaultValue": 2
					},
					"max_pages": {
						"type": "int",
						"defaultValue": 2
					}
				},
				"variables": {
					"page": {
						"type": "String",
						"defaultValue": "1"
					},
					"page_size": {
						"type": "String",
						"defaultValue": "1"
					},
					"max_pages": {
						"type": "String",
						"defaultValue": "1"
					},
					"temp_page": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-04-23T12:39:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Users_HTTP_to_ABS_JSON_by_page')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Users_HTTP_to_ABS_JSON_by_page')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy users data to blob storage by page",
				"activities": [
					{
						"name": "Copy Users from HTTP to ADS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "@{concat('users?_page=',pipeline().parameters._page,'&_limit=',pipeline().parameters._limit)}"
							},
							{
								"name": "Destination",
								"value": "json//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 1,
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2
						},
						"inputs": [
							{
								"referenceName": "DS_REST_jsonplaceholder_Users",
								"type": "DatasetReference",
								"parameters": {
									"_page": {
										"value": "@pipeline().parameters._page",
										"type": "Expression"
									},
									"_limit": {
										"value": "@pipeline().parameters._limit",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_JSON_jsonplaceholder_Users",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"concurrency": 1,
				"parameters": {
					"_page": {
						"type": "Int",
						"defaultValue": 1
					},
					"_limit": {
						"type": "Int",
						"defaultValue": 2
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-04-23T12:39:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_jsonplaceholder_Users')]",
				"[concat(variables('factoryId'), '/datasets/DS_JSON_jsonplaceholder_Users')]"
			]
		}
	]
}